<!-- czat/czat/templates/czat/loguj.html -->
{% extends "czat/baza.html" %}

    {% block naglowek %}Logowanie użytkownika{% endblock %}

    {% block tresc %}
        {% if user.is_authenticated %}
            <p>Jesteś już zalogowany jako {{ user.username }}.
            <br /><a href="/">Strona główna</a></p>
        {% else %}
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Zaloguj</button>
        </form>
        {% endif %}
    {% endblock %}

    {% block linki %}
        <p><a href="{% url 'index' %}">Strona główna</a></p>
    {% endblock %}

    {% block obrazki %}
    {% load staticfiles %}
        <div class="fr">
            <img src="{% static 'czat/img/django2.png' %}" width="280" />
            <img src="{% static 'czat/img/python2.png' %}" width="280" />
        </div>
    {% endblock %}
