<!-- czat/czat/templates/czat/wiadomosc_form.html -->
{% extends "czat/baza.html" %}

    {% block naglowek %}Wiadomości{% endblock %}

    {% block tresc %}
        <h2>Dodaj wiadomość</h2>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Zapisz</button>
        </form>

        <h2>Dodane wiadomości:</h2>
        <ol>
            {% for wiadomosc in wiadomosci %}
            <li>
                <strong>{{ wiadomosc.autor.username }}</strong> ({{ wiadomosc.data_pub }}):
                <br /> {{ wiadomosc.tekst }}
                    <a href="{% url 'aktualizuj' wiadomosc.id %}">Edytuj</a> &bull;
                    <a href="{% url 'usun' wiadomosc.id %}">Usuń</a>
            </li>
            {% endfor %}
        </ol>
    {% endblock %}

    {% block linki %}
        <p><a href="{% url 'index' %}">Strona główna</a></p>
    {% endblock %}
