<!-- czat/czat/templates/czat/wiadomosc_list.html -->
{% extends "czat/baza.html" %}

    {% block naglowek %}Wiadomosci{% endblock %}

    {% block tresc %}
        <h2>Lista wiadomości:</h2>
        <ol>
            {% for wiadomosc in wiadomosci %}
            <li>
                <strong>{{ wiadomosc.autor.username }}</strong> ({{ wiadomosc.data_pub }}):
                <br /> {{ wiadomosc.tekst }}
                {% if wiadomosc.autor.username == user.username %}
                    <a href="{% url 'aktualizuj' wiadomosc.id %}">Edytuj</a> &bull;
                    <a href="{% url 'usun' wiadomosc.id %}">Usuń</a>
                {% endif %}
            </li>
            {% endfor %}
        </ol>
    {% endblock %}

    {% block linki %}
        <p><a href="{% url 'index' %}">Strona główna</a></p>
    {% endblock %}
