<!-- czat/czat/templates/czat/wiadomosci.html -->
{% extends "czat/baza.html" %}

    {% block naglowek %}Wiadomosci{% endblock %}

    {% block tresc %}
        <h2>Dodaj wiadomość</h2>
        <form method="POST">
            {% csrf_token %}
            <input type="text" name="tekst" />
            <button type="submit">Zapisz</button>
        </form>

        <h2>Lista wiadomości:</h2>
        <ol>
            {% for wiadomosc in wiadomosci %}
            <li>
                <strong>{{ wiadomosc.autor.username }}</strong> ({{ wiadomosc.data_pub }}):
                <br /> {{ wiadomosc.tekst }}
            </li>
            {% endfor %}
        </ol>
    {% endblock %}

    {% block linki %}
        <p><a href="{% url 'index' %}">Strona główna</a></p>
    {% endblock %}
