<!-- czat/czat/templates/czat/wiadomosc_usun.html -->
{% extends "czat/baza.html" %}

    {% block naglowek %}Wiadomosci{% endblock %}

    {% block tresc %}

        <h2>Usuń wiadomość</h2>
        <form method="POST">
            {% csrf_token %}
            <p>Czy na pewno chcesz usunąć wiadomość:<br />"{{ object }}"?</p>
            <button type="submit">Usuń</button>
        </form>
    {% endblock %}

    {% block linki %}
        <p><a href="{% url 'index' %}">Strona główna</a></p>
    {% endblock %}
